.container {
  max-width: 1366px;
  min-width: 600px;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f72210;
}

header {
  background-color: #f72210;
  color: white;
  padding: 17px 0;
  text-align: unset;
}

svg {
  fill: white;
  height: 60px;
}

.header-left-1 {
  font-size: 18px;
  padding-top: 10px;
  color: white;
}

#header-left-2 {
  font-size: 18px;
  padding-top: 10px;
}

.header-right {
  padding-top: 30px;
  text-align: right;
}

.header-right-1 {
  color: white;
  font-size: 20px;
  padding-left: 8%;
}

.header-right-2 {
  color: #f72210;
  background-color: white;
  font-size: 20px;
  padding: 0 10px;
}

nav {
  background-color: white;
  padding: 12.5px 0;
}

nav ul {
  padding: 10px 0;
}

nav li {
  font-size: 18px;
  font-weight: 600;
  border-right: 1px solid gray;
  padding: 0 16px 0 6px;
}

nav a:hover {
  text-decoration: none;
  color: #f72210;
}

/* Navbar for Desktop */
@media screen and (max-width: 991px) and (min-width: 1px) {
  nav {
    display: none;
  }
}

/* Navbar for Tablet */
@media screen and (min-width: 992px) {
  nav li {
    padding: 0 8px 0 3px;
  }

  #header-tablet {
    display: none;
  }
}

/* Header for Tablet */
@media screen and (max-width: 991px) and (min-width: 1px) {
  #header-desktop {
    display: none;
  }

  header {
    padding: 10px 0;
  }

  svg {
    fill: white;
    height: 20px;
    padding: 0 8px 0 0;
  }

  .header-right {
    padding: 0;
  }

  #burger {
    padding: 0 10px;
  }

  .header-right-1 {
    color: white;
    font-size: 20px;
    padding: 0 10px 0 0;
  }

  .header-right-2 {
    font-size: 20px;
    padding-right: 10px;
  }

  #header-paragraph-1 {
    padding-left: 5px;
  }

  #header-paragraph-2 {
    padding-left: 5px;
  }

  .debate-img {
    width: 600px;
    height: 250px;
  }

  #newsletter img {
    width: 50px;
    height: 220px;
  }
}

/* Header for Mobile */
@media screen and (max-width: 640px) and (min-width: 1px) {
  #header-paragraph-2 {
    display: none;
  }
}

.section-heading {
  padding: 10px 0;
  color: gray;
  font-weight: 500;
}

img {
  width: 100%;
}

.section-div {
  padding-top: 22px;
  border-top: 1px solid rgb(160, 160, 160);
}

.featured-stories-heading {
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}

.featured-stories-paragraph {
  color: gray;
  font-size: 16px;
  padding: 10px 0 20px 0;
}

#more-stories img {
  width: 100px;
  height: 100px;
  padding: 5px;
}

#opinion img {
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 50%;
}

.top-story-heading {
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}

.top-story-paragraph {
  color: gray;
  font-size: 16px;
  padding: 10px 0 20px 0;
}

.culture-travel-heading {
  color: black;
  font-size: 20px;
  padding-top: 10px;
}

.culture-travel-paragraph {
  color: gray;
  font-size: 16px;
  padding: 10px 0 20px 0;
}

.more-stories-heading {
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
}

.more-stories-paragraph {
  color: gray;
  font-size: 16px;
  padding: 10px 0 20px 0;
}

.opinion-heading {
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
}

.opinion-paragraph {
  color: gray;
  font-size: 14px;
  padding: 10px 0 20px 0;
}

.latest-news-heading {
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}

.latest-news-img {
  width: 100px;
  height: 100px;
  padding: 10px 10px 10px 0;
}

#newsletter {
  padding: 20px;
}

#newsletter img {
  width: 100%;
}

.section-main-heading {
  width: 200px;
  height: 50px;
  right: 42%;
  position: absolute;
}

.section-main-heading-div {
  padding-bottom: 50px;
}
